<div class="row">
  <div class="col-xs-8">
    <% @posts.each do |post| %>
            <div class=" panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                
                    <a href="<%= posts_url(post) %>"><%= post.image %></a>
                    <h2><%= link_to post.title, post %></h2>
                    <%= post.hash_tag %><br> 
              </div>
            </div> 
    <% end %> 
  </div>
  <div class="col-xs-4"></div>  