/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mar70{
	margin-top: 70px;
}
.span3{width: 240px}

.side-bar{width:400px;overflow:hidden;margin-left:20px;margin-top:30px;float:left}

.ls_profile{border-radius:3px 3px 3px 3px;border:1px solid #c67a0c;box-shadow:0 1px 0 #fff inset;padding:10px;background:#ffb61a;background-size:100%;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ffb61a),color-stop(100%,#e69219));background:-webkit-linear-gradient(top,#ffb61a,#e69219);background:-moz-linear-gradient(top,#ffb61a,#e69219);background:-o-linear-gradient(top,#ffb61a,#e69219);background:linear-gradient(top,#ffb61a,#e69219);margin-bottom:10px;color:#fff}

.ls_blue{background:#4ca2ea;background-size:100%;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#4ca2ea),color-stop(100%,#2872cd));background:-webkit-linear-gradient(top,#4ca2ea,#2872cd);background:-moz-linear-gradient(top,#4ca2ea,#2872cd);background:-o-linear-gradient(top,#4ca2ea,#2872cd);background:linear-gradient(top,#4ca2ea,#2872cd);border:1px solid #29558b;box-shadow:0 1px 0 #85bbff inset}

.ls_green{background:#1cda2a;background-size:100%;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#1cda2a),color-stop(100%,#09a814));background:-webkit-linear-gradient(top,#1cda2a,#09a814);background:-moz-linear-gradient(top,#1cda2a,#09a814);background:-o-linear-gradient(top,#1cda2a,#09a814);background:linear-gradient(top,#1cda2a,#09a814);border:1px solid #0f9018;box-shadow:0 1px 0 #0fff20 inset}

.ls_profile_info{float:left}

.clearfix{*zoom:1}

.size{
  font-size: medium   
}

.img-size {
    width: 100px;
    height: 50px;
    padding-top: 30px;
}

.pad{
	padding-top: 100px;
}

.padd{
  margin-left: 10px;
  padding-bottom: 80px;
}    

.pad-27{
  padding-right: 27px;
}

.pad-10{
  padding-right: 10px;
}

.wrapper {    
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 20px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.pa {
  padding-left: 200px;
  padding-top: 50px;
}

.mar15{
  margin-top: 10px;
}

.mar18{
  margin-top: 18px;
}

.mar40{
  margin-top: 40px;
}

.mar13{
  margin-bottom: 13px;
}

.mar80{
  margin-top: 80px;
}